.result{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.result a{
    
    text-decoration: none;
    color: #023535;
    padding-right: 2.5em;
    padding-left: 2.5em;
    font-size: 1.8em;
    border: solid 2px black;
    border-radius: 10px;
    transition: .3s;
}

.result a:hover{
    background-color: #023535;
    color:#FACFCE ;

}
