.quiz a{
    font-size: 1.9em;
    margin-top: 1%;
    margin-left: 2%;
    text-decoration: none;
    color: black;
}

.question{
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.question h2{
  background-color:#008F8C ;
}

.question form{
    
    background-color: #008F8C;
    display: flex;
    flex-direction: column;
    width: 29em;
    padding:2%;
    border: solid 2px #023535;
    border-radius: 10px;
    
}

.question label{
    background-color: #008F8C;
    font-size: 1.5em ;
}

.question button{
    margin-top: 5%;
    font-size: 1.5em ;
    transition: .3s;
    background-color: #FACFCE;
    border-radius: 10px;
}

.question button:hover{
  cursor: pointer;
  background-color:#023535 ;
  color: #FACFCE;
}

.question .radio{
    display: flex;
    justify-content: space-around;
    background-color: #008F8C;
}

.question .option{
    background-color: #008F8C;

}

.question .radio input{
    cursor: pointer;
    accent-color:#023535;
    transform: scale(1.3);
    
}












