.quiz a{
    font-size: 1.9em;
    margin-top: 1%;
    margin-left: 2%;
    text-decoration: none;
    color: black;
}

.question{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.question h2{
  background-color:#03a8a5 ;
}

.question form{
    background-color: #03a8a5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 29em;
    height: 32em;
    padding:2%;
    border: solid 2px #023535;
    border-radius: 10px;
    
}

.question label{
    background-color: #03a8a5;
    font-size: 1.5em ;
}

.question button{
    margin-top: 5%;
    font-size: 1.5em ;
    transition: .3s;
    background-color: #FACFCE;
    border-radius: 10px;
}

.question button:hover{
  cursor: pointer;
  background-color:#023535 ;
  color: #FACFCE;
}

.question .radio{
    display: flex;
    justify-content: space-around;
    background-color: #03a8a5;
}

.question .option{
    background-color: #03a8a5;
}

.question .radio input{
    cursor: pointer;
    accent-color:#023535;
    transform: scale(1.3);
    
}

.result{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.result a{
    
    text-decoration: none;
    color: #023535;
    padding-right: 10%;
    padding-left: 10%;
    border: solid 2px black;
    text-align: center;
    border-radius: 10px;
    transition: .3s;
}

.result a:hover{
    background-color: #023535;
    color:#FACFCE ;

}


.result h2{
    background-color: transparent;
}

.no_questions{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.no_questions h2{
    background-color: transparent;
}














