*{
    margin: 0;
    padding: 0;
    background-color:#FACFCE ;
    font-family: 'Anek Bangla', sans-serif;
}

/* 


#23606E - dark blue
#FACFCE - white
#008F8C - light blue
#015958 - grey 
#023535 - black
*/